@use "../../assets/scss/styles.scss" as *;

.dashboard-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
  padding: 0.5rem;
  background-color: $color-ghost;
  font-size: 1.4rem;

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
  }

  &__item {
    margin: 0.5rem;
  }
}
